    .header,
    .main {
        max-width: 1030px;
        margin: 0 auto;
        /* padding: 0 47px 0 47px; */
    }
    
    .header__main {
        display: flex;
        padding: 0 0 27px 0;
    }
    
    .header__logo-1170 {
        margin: 0;
        padding: 32px 39px 0 0;
        width: 61px;
        height: 55px;
    }
    
    .header__menu {
        padding: 0 159px 0 0;
        font-family: GothamPro-Bold;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
    }
    
    .header__menu a {
        text-decoration: none;
        color: #000;
        padding-right: 32px;
    }
    
    .header__menu_legacy {
        padding: 0 30px 0 0;
    }
    
    .header__menu,
    .header__form-search,
    .header__link,
    .header__form-language {
        display: inline-block;
        padding-top: 53px;
    }
    
    .header__form-search {
        padding: 48px 18px 0 0;
        /* width: 160px; */
    }
    
    .search-input {
        position: relative;
        top: 2px;
        width: 178px;
        line-height: 19px;
        border: 0;
        border-bottom: 1px solid #000;
        outline: none;
    }
    
    .search-input::-webkit-search-cancel-button {
        display: none;
    }
    
    .search-submit {
        position: relative;
        top: 3px;
        right: 22px;
        margin: 0;
        height: 14px;
        width: 12px;
        background: url(/img/header__menu/Vector.png);
        border: 0;
    }
    
    .header__link {
        display: inline-block;
        padding: 45px 0 0 0;
    }
    
    .header__link a {
        font-family: GothamPro-Bold;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
    }
    
    .header__link_signin {
        height: 12px;
        width: 48px;
        padding: 0 30px 0 0;
    }
    
    .header__link_cart {
        height: 12px;
        width: 48px;
    }
    
    .header__link_cart img {
        position: relative;
        top: 5px;
        margin: 0;
        padding: 2px 0px 0px 0px;
    }
    
    .header__form-language {
        position: relative;
        left: 36px;
        bottom: 4px;
    }
    
    .header__image-desc {
        margin: 0 0 52px 0;
        height: 280px;
        width: 100%;
        background: url('/img/header__image/rob-potter-422534-unsplash1030*280.jpg') no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
    }
    
    .header__image-text {
        position: relative;
        font-family: GothamPro-Bold;
        text-transform: uppercase;
        color: #fff;
    }